<a href="https://colab.research.google.com/github/Garvish47/Cognitive_computing/blob/main/102317190_garvish_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)

In [1]:
L = [10*n for n in range(1,9)]
print(L), print()

L.append(200), L.append(300)
print(L), print()

L.remove(10), L.remove(30)
print(L), print()

L.sort()
print(L), print()

L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

[20, 40, 50, 60, 70, 80, 200, 300]

[20, 40, 50, 60, 70, 80, 200, 300]

[300, 200, 80, 70, 60, 50, 40, 20]

Q2)

In [ ]:
scores = (45, 89.5,  76, 45.4, 89, 92, 58, 45)

print(f'maximum in the tuple = {max(scores)} at position {scores.index(max(scores))}')

print(f'minimum in the tuple = {min(scores)} which occured {scores.count(min(scores))} times')

reversed_scores = list(scores[::-1])  #the syntax here is sequence[start:stop:step] and we are using step size as -1, i.e. reverse

print(f'reversed tuple = {reversed_scores}')

score = float(input('input the number you want to check: '))
if score in scores:
  print(f'{score} is in the tuple on index {scores.index(score)}')
else:
  print(f'{score} is not in the tuple')

maximum in the tuple = 92 at position 5
minimum in the tuple = 45 which occured 2 times
reversed tuple = [45, 58, 92, 89, 45.4, 76, 89.5, 45]
input the number you want to check: 76
76.0 is in the tuple on index 2

Q3)

In [19]:
import random

def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n ** 0.5) + 1):
    if n % i == 0:
      return False
  return True

random_numbers = [random.randint(100,900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

for number in random_numbers:
  if number % 2 == 0:
    even_numbers.append(number)
  else:
    odd_numbers.append(number)

  if is_prime(number):
    prime_numbers.append(number)

print(f'odd numbers = {odd_numbers}')
print(f'even numbers = {even_numbers}')
print(f'prime numbers = {prime_numbers}')

print(f'count of odd numbers = {len(odd_numbers)}')
print(f'count of even numbers = {len(even_numbers)}')
print(f'count of prime numbers = {len(prime_numbers)}')

odd numbers = [733, 203, 619, 507, 211, 255, 771, 283, 279, 677, 147, 397, 267, 877, 619, 877, 289, 263, 285, 233, 247, 217, 237, 465, 247, 547, 341, 479, 303, 149, 589, 117, 289, 431, 697, 211, 739, 751, 797, 609, 759, 591, 871, 363, 449, 847, 309, 671, 753, 467, 671]
even numbers = [328, 230, 206, 118, 100, 470, 418, 364, 614, 808, 548, 458, 570, 520, 604, 852, 230, 796, 466, 682, 360, 668, 408, 160, 208, 158, 506, 750, 490, 308, 818, 738, 228, 662, 378, 442, 660, 782, 716, 344, 882, 572, 326, 274, 504, 834, 656, 818, 538]
prime numbers = [733, 619, 211, 283, 677, 397, 877, 619, 877, 263, 233, 547, 479, 149, 431, 211, 739, 751, 797, 449, 467]
count of odd numbers = 51
count of even numbers = 49
count of prime numbers = 21

Q4)

In [36]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

print(f'union of given sets = {A|B}')

print(f'intersection of sets = {A&B}')

print(f'symmetric difference(exclusive scores) = {A^B}')

print(f'is A subset of B?... {A.issubset(B)}')
print(f'is B subset of A?... {B.issubset(A)}')

print(f'is A superset of B?... {A.issuperset(B)}')
print(f'is B superset of A?... {B.issuperset(A)}')

x = int(input(prompt = 'enter a number: '))
if x in A:
  A.discard(x)
  print(f'{x} is removed from set A')
else:
  print(f'{x} is not in the set')

union of given sets = {34, 45, 78, 23, 56, 90}
intersection of sets = {90, 78}
symmetric difference(exclusive scores) = {34, 45, 23, 56}
is A subset of B?... False
is B subset of A?... False
is A superset of B?... False
is B superset of A?... False
enter a number: 56
56 is removed from set A

Q5)

In [41]:
data = {
    "city": "New York",
    "population": 8419600,
    "area": 468.9
}

print(data)

data["location"] = data.pop("city")   #pop the data present in city, and directly store it under location attribute in dictionary(data)

print(data)

{'city': 'New York', 'population': 8419600, 'area': 468.9}
{'population': 8419600, 'area': 468.9, 'location': 'New York'}

In [ ]:
import pandas as pd

data = {
    "date(Jan)": [20, 21, 22, 23],
    "hours_worked": [2.5, 1, 1.5, 4],
    "tasks_completed": [1, 0, 2, 2],
}

data_frame = pd.DataFrame(data)


print(data_frame.hours_worked)